.self-exploration {
  background-image: url(../images/test-intro-bgi.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.self-exploration-wrap {
  display: flex;
  align-items: center;
  width: 1124px;
  height: 100%;
  margin: auto;
}
.self-exploration-cont {
  width: 100%;
}
.title {
  font-size: 26px;
  color: #fff;
  margin-bottom: 16px;
}
.explorations {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 403px;
  /*四个板块出现动画*/
  /*文字出现动画*/
  /*图片、按钮出现动画*/
  /*按钮动画*/
}
.explorations .exp {
  transition: all 0.35s;
  position: relative;
  width: 266px;
  height: 100%;
  padding: 20px 21px 0 21px;
  border-radius: 18px;
  box-shadow: 0px 4px 19px 0 #ffffff;
}
.explorations .exp:hover {
  transition: all 0.35s;
  transform: scale(1.02);
}
@keyframes move1 {
  0% {
    transform: translate(3300px, 52px);
  }
  100% {
    transform: translate(0px);
  }
}
@keyframes move2 {
  0% {
    transform: translate(3000px, 52px);
  }
  25% {
    transform: translate(1200px, 52px);
  }
  100% {
    transform: translate(0px);
  }
}
@keyframes move3 {
  0% {
    transform: translate(2800px, 52px);
  }
  50% {
    transform: translate(1000px, 52px);
  }
  100% {
    transform: translate(0px);
  }
}
@keyframes move4 {
  0% {
    transform: translate(2600px, 52px);
  }
  75% {
    transform: translate(800px, 52px);
  }
  100% {
    transform: translate(0px);
  }
}
@keyframes show-text {
  0% {
    opacity: 0;
    transform: translateX(-90px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes show-pic {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.explorations .exp-bgi {
  opacity: 0;
  width: 224px;
  height: 226px;
  border-radius: 18px;
  animation: show-pic 2.8s;
  animation-fill-mode: forwards;
  /*动画结束后保持最后的状态*/
}
.explorations .tit {
  height: 47.5px;
  color: #fff;
  font-size: 24px;
  line-height: 47.5px;
}
.explorations .desc {
  width: 100%;
  height: 61px;
  font-size: 14px;
  line-height: 19.22px;
}
.explorations .enter-btn {
  opacity: 0;
  position: absolute;
  right: 21px;
  width: 67px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  animation: show-pic 2s;
  animation-fill-mode: forwards;
  /*动画结束后保持最后的状态*/
}
.explorations .job,
.explorations .others {
  background-image: linear-gradient(to top left, #9274dc, #e2ccff);
  border: 1px solid rgba(255, 255, 255, 0.6);
}
.explorations .job .tit,
.explorations .others .tit,
.explorations .job .desc,
.explorations .others .desc {
  color: #fff;
}
.explorations .job .enter-btn,
.explorations .others .enter-btn {
  color: #8e6cd9;
  background-color: #fff;
}
.explorations .self,
.explorations .value {
  background-color: #fff;
}
.explorations .self .tit,
.explorations .value .tit,
.explorations .self .desc,
.explorations .value .desc {
  color: #8e6cd9;
}
.explorations .self .enter-btn,
.explorations .value .enter-btn {
  color: #fff;
  background-color: #8e6cd9;
}
.explorations .text-wrap {
  /*文字部分应用动画*/
  opacity: 0;
  animation: show-text 1s ease-out;
  animation-fill-mode: forwards;
  /*动画结束后保持最后的状态*/
}
.explorations .job {
  animation: move1 0.9s ease-out;
}
.explorations .job .text-wrap {
  animation-delay: 1.5s;
  /*动画延迟*/
}
.explorations .job .exp-bgi {
  animation-delay: 2.35s;
  background-image: url(../images/exploration1.png);
}
.explorations .job .enter-btn {
  animation-delay: 3.3s;
}
.explorations .self {
  animation: move2 1.25s ease-out;
}
.explorations .self .text-wrap {
  animation-delay: 1.85s;
  /*动画延迟*/
}
.explorations .self .exp-bgi {
  background-image: url(../images/exploration2.png);
  animation-delay: 2.7s;
}
.explorations .self .enter-btn {
  animation-delay: 3.85s;
}
.explorations .others {
  animation: move3 1.5s ease-out;
}
.explorations .others .text-wrap {
  animation-delay: 2.2s;
  /*动画延迟*/
}
.explorations .others .exp-bgi {
  background-image: url(../images/exploration3.png);
  animation-delay: 3.05s;
}
.explorations .others .enter-btn {
  animation-delay: 4.15s;
}
.explorations .value {
  animation: move4 1.58s ease-out;
}
.explorations .value .text-wrap {
  animation-delay: 2.35s;
  /*动画延迟*/
}
.explorations .value .exp-bgi {
  background-image: url(../images/exploration4.png);
  animation-delay: 3.4s;
}
.explorations .value .enter-btn {
  animation-delay: 4.5s;
}
.explorations .enter-btn {
  cursor: pointer;
  transition: all 0.2s ease;
}
.explorations .enter-btn:active {
  transform: scale(0.96);
}
.explorations .enter-btn:before,
.explorations .enter-btn:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}
.explorations .enter-btn:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
            10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}
@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
                40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
                50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
.explorations .enter-btn:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}
@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
                105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
                110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
