.step-btn {
  position: absolute;
  right: 0;
  top: 3px;
  width: 300px;
  height: 300px;
  background-color: transparent;
}
.show-answer {
  display: none;
  position: absolute;
  z-index: 5;
  right: 364px;
  bottom: 6px;
  color: #808080;
  background-color: #eddfff;
  text-align: center;
  line-height: 20px;
  padding: 5px 11px;
  font-size: 14px;
  border-radius: 4px;
}
.show-answer:hover {
  color: #937be8;
  background-color: #ddd3f5;
}
.active-show-answer {
  display: block;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
/*出现邀请码框*/
.invite-code-wrap {
  display: none;
  position: absolute;
  z-index: 4;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(192, 192, 192, 0.1);
  /*先隐藏textarea*/
}
.invite-code-wrap .invite-code-box {
  position: relative;
  padding: 28px;
  width: 397px;
  height: 319px;
  background-color: #eee6fd;
  border-radius: 18px;
  text-align: center;
}
.invite-code-wrap textarea {
  display: none;
}
.invite-code-wrap .tip,
.invite-code-wrap .code {
  font-size: 20px;
  font-weight: 600;
  color: #8e6cd9;
}
.invite-code-wrap .code {
  user-select: text;
}
.invite-code-wrap .close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  background-image: url(../images/close.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.invite-code-wrap .copy-box {
  width: 330px;
  height: 187px;
}
.invite-code-wrap .copy-text {
  user-select: text;
  color: #8e6cd9;
  font-size: 16px;
  line-height: 25px;
}
.invite-code-wrap .invite-code {
  margin-top: 8px;
}
.invite-code-wrap .bgc-box {
  background-color: #d9cbf2;
  border-radius: 20px;
  margin: 8px 0;
}
.invite-code-wrap .copy {
  margin-top: 12px !important;
  width: 163px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  color: #fff;
  background-color: #8e6cd9;
  text-align: center;
  border-radius: 8px;
  margin: auto;
  word-spacing: 1px;
}
/*返回按钮*/
.pre-btn {
  position: fixed;
  left: 27px;
  top: 27px;
  width: 40px;
  height: 40px;
  background-image: url(../images/pre-btn\ \(1\).png);
  border-radius: 50px;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #eddfff;
  transition: all 0.2s;
}
.invite {
  position: absolute;
  z-index: 2;
  bottom: 5px;
  left: 5px;
  color: #808080;
  background-color: #eddfff;
  text-align: center;
  line-height: 20px;
  padding: 5px 11px;
  font-size: 14px;
  border-radius: 4px;
}
.create-share,
.join-share {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/test-intro-bgi.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  /*对话框*/
  /*表情栏*/
  /*语音*/
  /*打开语音*/
}
.create-share .create-share-wrap,
.join-share .create-share-wrap,
.create-share .join-share-wrap,
.join-share .join-share-wrap {
  position: relative;
  width: 86vw;
  margin: auto;
  height: 100vh;
  background-color: #fff;
}
.create-share .create-share-wrap .create-share-contain,
.join-share .create-share-wrap .create-share-contain,
.create-share .join-share-wrap .create-share-contain,
.join-share .join-share-wrap .create-share-contain,
.create-share .create-share-wrap .join-share-contain,
.join-share .create-share-wrap .join-share-contain,
.create-share .join-share-wrap .join-share-contain,
.join-share .join-share-wrap .join-share-contain {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 100%;
}
.create-share .left,
.join-share .left {
  height: 100%;
  width: 68%;
}
.create-share .right,
.join-share .right {
  height: 100vh;
  position: relative;
  width: 32%;
  box-shadow: 15px 8px 16px rgba(0, 0, 0, 0.25);
}
.create-share .drawing-board,
.join-share .drawing-board {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: -17px 2px 16px rgba(0, 0, 0, 0.25);
  /*清空，保存按钮*/
  /*工具*/
  /*画布显示*/
}
.create-share .drawing-board .tip-box,
.join-share .drawing-board .tip-box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: 292px;
}
.create-share .drawing-board .tips,
.join-share .drawing-board .tips {
  justify-content: space-between;
  display: flex;
}
.create-share .drawing-board .tip1,
.join-share .drawing-board .tip1,
.create-share .drawing-board .tip2,
.join-share .drawing-board .tip2,
.create-share .drawing-board .tip3,
.join-share .drawing-board .tip3 {
  position: relative;
  width: 82px;
  height: 52px;
}
.create-share .drawing-board .tip1 .icon,
.join-share .drawing-board .tip1 .icon,
.create-share .drawing-board .tip2 .icon,
.join-share .drawing-board .tip2 .icon,
.create-share .drawing-board .tip3 .icon,
.join-share .drawing-board .tip3 .icon {
  position: absolute;
  top: 8px;
  left: 23px;
  content: '';
  width: 32px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  fill: #808080;
}
.create-share .drawing-board .tip1::after,
.join-share .drawing-board .tip1::after,
.create-share .drawing-board .tip2::after,
.join-share .drawing-board .tip2::after,
.create-share .drawing-board .tip3::after,
.join-share .drawing-board .tip3::after {
  position: absolute;
  bottom: 0;
  left: 0px;
  content: '';
  width: 100%;
  height: 3px;
  background-color: #A6A6A6;
  border-radius: 9px;
}
.create-share .drawing-board .tip1 .icon,
.join-share .drawing-board .tip1 .icon {
  background-image: url(../images/icon1-1.png);
}
.create-share .drawing-board .tip2 .icon,
.join-share .drawing-board .tip2 .icon {
  background-image: url(../images/icon2-1.png);
}
.create-share .drawing-board .tip3 .icon,
.join-share .drawing-board .tip3 .icon {
  background-image: url(../images/icon3-1.png);
}
.create-share .drawing-board .active0::after,
.join-share .drawing-board .active0::after {
  background-color: #8e6cd9;
}
.create-share .drawing-board .active0 .icon,
.join-share .drawing-board .active0 .icon {
  background-image: url(../images/icon1-2.png);
}
.create-share .drawing-board .active1::after,
.join-share .drawing-board .active1::after {
  background-color: #8e6cd9;
}
.create-share .drawing-board .active1 .icon,
.join-share .drawing-board .active1 .icon {
  background-image: url(../images/icon2-2.png);
}
.create-share .drawing-board .active2::after,
.join-share .drawing-board .active2::after {
  background-color: #8e6cd9;
}
.create-share .drawing-board .active2 .icon,
.join-share .drawing-board .active2 .icon {
  background-image: url(../images/icon3-2.png);
}
.create-share .drawing-board .tip-text,
.join-share .drawing-board .tip-text {
  width: 100%;
  height: 45px;
  line-height: 45px;
  word-spacing: 7px;
  text-align: center;
  font-size: 18px;
  color: #8e6cd9;
}
.create-share .drawing-board .pre,
.join-share .drawing-board .pre,
.create-share .drawing-board .next,
.join-share .drawing-board .next {
  display: none;
  position: absolute;
  bottom: 45%;
  width: 30px;
  height: 44px;
  background-color: #8e6cd9;
  border-radius: 4px;
}
.create-share .drawing-board .pre::before,
.join-share .drawing-board .pre::before,
.create-share .drawing-board .next::before,
.join-share .drawing-board .next::before,
.create-share .drawing-board .pre::after,
.join-share .drawing-board .pre::after,
.create-share .drawing-board .next::after,
.join-share .drawing-board .next::after {
  position: absolute;
  left: 50%;
  top: 50%;
  content: '';
  width: 3px;
  height: 14px;
  background-color: #fff;
  border-radius: 50px;
  transform: rotate(45deg);
  transform-origin: top;
}
.create-share .drawing-board .pre,
.join-share .drawing-board .pre {
  left: 12px;
}
.create-share .drawing-board .pre::after,
.join-share .drawing-board .pre::after {
  transform: rotate(-45deg) translateX(-5px);
}
.create-share .drawing-board .pre::before,
.join-share .drawing-board .pre::before {
  transform: rotate(-135deg) translateY(-5px);
}
.create-share .drawing-board .next,
.join-share .drawing-board .next {
  right: 12px;
}
.create-share .drawing-board .next::after,
.join-share .drawing-board .next::after {
  transform: rotate(135deg);
}
.create-share .drawing-board .show,
.join-share .drawing-board .show {
  display: block;
}
.create-share .drawing-board .finish,
.join-share .drawing-board .finish {
  display: none;
  position: absolute;
  bottom: 1%;
  right: 2%;
  width: 97px;
  height: 40px;
  background-color: #8e6cd9;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  word-spacing: 1px;
  text-align: center;
  line-height: 40px;
  border-radius: 8px;
}
.create-share .drawing-board .show2,
.join-share .drawing-board .show2 {
  display: block;
}
.create-share .drawing-board .clear,
.join-share .drawing-board .clear,
.create-share .drawing-board .save,
.join-share .drawing-board .save {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 10px;
  background-size: 70%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 8px;
}
.create-share .drawing-board .clear:hover,
.join-share .drawing-board .clear:hover,
.create-share .drawing-board .save:hover,
.join-share .drawing-board .save:hover {
  transition: all 0.2s;
  background-color: #eddfff;
}
.create-share .drawing-board .clear,
.join-share .drawing-board .clear {
  top: 13px;
  background-image: url(../images/clear.png);
}
.create-share .drawing-board .save,
.join-share .drawing-board .save {
  top: 55px;
  background-image: url(../images/save.png);
}
.create-share .drawing-board .tools-btn,
.join-share .drawing-board .tools-btn {
  position: absolute;
  top: 8px;
  left: 40%;
  width: 28px;
  height: 28px;
  border-radius: 50px;
  background-color: #8e6cd9;
}
.create-share .drawing-board .tool-box,
.join-share .drawing-board .tool-box {
  z-index: 4;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  width: 128px;
  height: 43px;
  background-color: #ddd3f5;
  border-radius: 0px 0px 18px 18px;
  padding-top: 40px;
  overflow: hidden;
  transition: all 0.3s;
}
.create-share .drawing-board canvas,
.join-share .drawing-board canvas {
  display: none;
}
.create-share .drawing-board .show5,
.join-share .drawing-board .show5 {
  display: block;
}
.create-share .drawing-board .spread-box,
.join-share .drawing-board .spread-box {
  transition: all 0.3s;
  height: 225px;
}
.create-share .drawing-board .tools .tool,
.join-share .drawing-board .tools .tool {
  width: 84px;
  height: 55px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.create-share .drawing-board .tools .eraser,
.join-share .drawing-board .tools .eraser {
  transform: translateX(-25px);
  width: 55px;
  height: 35px;
  background-image: url(../images/eraser.png);
}
.create-share .drawing-board .tools .pen,
.join-share .drawing-board .tools .pen {
  transform: translateX(-30px);
  height: 35px;
  width: 84px;
  background-image: url(../images/pen.png);
  background-position: 50% 0;
}
.create-share .drawing-board .tools .sel,
.join-share .drawing-board .tools .sel {
  width: 81px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.create-share .drawing-board .tools .thick,
.join-share .drawing-board .tools .thick {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: #8e6cd9;
  border-radius: 50px;
}
.create-share .drawing-board .tools .thick:nth-child(1),
.join-share .drawing-board .tools .thick:nth-child(1) {
  width: 20px;
  height: 20px;
}
.create-share .drawing-board .tools .thick:nth-child(2),
.join-share .drawing-board .tools .thick:nth-child(2) {
  width: 16px;
  height: 16px;
}
.create-share .drawing-board .tools .thick:nth-child(3),
.join-share .drawing-board .tools .thick:nth-child(3) {
  width: 12px;
  height: 12px;
}
.create-share .drawing-board .tools .color-tool,
.join-share .drawing-board .tools .color-tool {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  overflow: hidden;
  margin: auto;
}
.create-share .drawing-board .tools .color-tool .tool-item,
.join-share .drawing-board .tools .color-tool .tool-item {
  position: relative;
}
.create-share .drawing-board .tools .color,
.join-share .drawing-board .tools .color {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50px;
  border: none;
}
.create-share .drawing-board .tools .color::after,
.join-share .drawing-board .tools .color::after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 32px;
  height: 32px;
  border-radius: 50px;
  background-color: khaki;
  /*色环*/
  background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, purple 100%, blue 100%, green 100%, yellow 100%, orange 100%, red 100%);
  background-image: -webkit-radial-gradient(45px 45px, circle cover, purple, blue, green, yellow, orange, red);
  background-image: radial-gradient(45px 45px 45deg, circle cover, purple 100%, blue 100%, green 100%, yellow 100%, orange 100%, red 100%);
}
.create-share .drawing-board .tools .show-color,
.join-share .drawing-board .tools .show-color {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 28px;
  height: 28px;
  background-color: #000;
  border-radius: 50px;
}
.create-share .drawing-board .tools .eraser,
.join-share .drawing-board .tools .eraser,
.create-share .drawing-board .tools .pen,
.join-share .drawing-board .tools .pen,
.create-share .drawing-board .tools .color,
.join-share .drawing-board .tools .color {
  transition: all 0.3s;
}
.create-share .drawing-board .tools .eraser:hover,
.join-share .drawing-board .tools .eraser:hover,
.create-share .drawing-board .tools .pen:hover,
.join-share .drawing-board .tools .pen:hover,
.create-share .drawing-board .tools .color:hover,
.join-share .drawing-board .tools .color:hover {
  transition: all 0.3s;
  transform: translateX(0);
}
.create-share .drawing-board .tools .active,
.join-share .drawing-board .tools .active {
  transform: translateX(0);
}
.create-share .drawing-board .spread,
.join-share .drawing-board .spread {
  position: absolute;
  width: 100%;
  height: 52px;
  bottom: 0;
  background-color: #ddd3f5;
}
.create-share .drawing-board .spread::before,
.join-share .drawing-board .spread::before,
.create-share .drawing-board .spread::after,
.join-share .drawing-board .spread::after {
  position: absolute;
  bottom: 23px;
  content: '';
  width: 12px;
  height: 12px;
  left: 54px;
  border: 1px solid #000;
  border-top: none;
  border-left: none;
  transform: rotate(45deg);
  transition: all 0.3s;
}
.create-share .drawing-board .spread::after,
.join-share .drawing-board .spread::after {
  bottom: 13px;
}
.create-share .drawing-board .shrank::before,
.join-share .drawing-board .shrank::before,
.create-share .drawing-board .shrank::after,
.join-share .drawing-board .shrank::after {
  transition: all 0.3s;
  transform: rotate(-135deg);
}
.create-share .drawing-board .show3,
.join-share .drawing-board .show3 {
  display: flex;
}
.create-share .edit-box,
.join-share .edit-box {
  opacity: 0;
}
.create-share .edit-box,
.join-share .edit-box,
.create-share .suspect-box,
.join-share .suspect-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
  transition: all 0.3s;
}
.create-share .edit-box .edit,
.join-share .edit-box .edit,
.create-share .suspect-box .edit,
.join-share .suspect-box .edit,
.create-share .edit-box .suspect,
.join-share .edit-box .suspect,
.create-share .suspect-box .suspect,
.join-share .suspect-box .suspect {
  position: relative;
  width: 85%;
  height: 40px;
  border: 1px solid #8e6cd9;
  outline: none;
  background-color: #f3f3f3;
  border-radius: 38px;
  padding: 0 18px;
}
.create-share .edit-box .edit::after,
.join-share .edit-box .edit::after,
.create-share .suspect-box .edit::after,
.join-share .suspect-box .edit::after,
.create-share .edit-box .suspect::after,
.join-share .edit-box .suspect::after,
.create-share .suspect-box .suspect::after,
.join-share .suspect-box .suspect::after {
  position: absolute;
  right: 5px;
  top: 5px;
  content: '';
  width: 24px;
  height: 24px;
  background-color: #90d831;
}
.create-share .edit-box button,
.join-share .edit-box button,
.create-share .suspect-box button,
.join-share .suspect-box button {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: #8e6cd9;
  border: none;
  background-image: url(../images/send.png);
  background-size: 61%;
  background-position: center;
  background-repeat: no-repeat;
}
.create-share .edit-box .tip-icon,
.join-share .edit-box .tip-icon,
.create-share .suspect-box .tip-icon,
.join-share .suspect-box .tip-icon {
  position: absolute;
  right: 21%;
  top: 20%;
  width: 25px;
  height: 24px;
  background-image: url(../images/tip-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.create-share .input-more,
.join-share .input-more {
  opacity: 1;
}
.create-share .dialogue-area,
.join-share .dialogue-area {
  width: 100%;
  height: 70%;
  padding: 0 10px;
}
.create-share .dialogue-area .dialogue-cont,
.join-share .dialogue-area .dialogue-cont {
  width: 100%;
  height: 106%;
  overflow: scroll;
  margin-top: 10px;
  /*改变滚动条*/
}
.create-share .dialogue-area .dialogue-cont::-webkit-scrollbar,
.join-share .dialogue-area .dialogue-cont::-webkit-scrollbar {
  width: 4px;
}
.create-share .dialogue-area .dialogue-cont .msg .time,
.join-share .dialogue-area .dialogue-cont .msg .time {
  display: none;
  width: 127px;
  font-size: 12px;
  color: #808080;
  padding: 0 2px;
  border-radius: 4px;
  background-color: #ddd3f5;
  margin: auto;
}
.create-share .dialogue-area .dialogue-cont .msg .msg-box,
.join-share .dialogue-area .dialogue-cont .msg .msg-box {
  display: flex;
  align-items: self-start;
  justify-content: end;
  width: 100%;
  padding: 7px 0 12px;
}
.create-share .dialogue-area .dialogue-cont .msg .cont,
.join-share .dialogue-area .dialogue-cont .msg .cont {
  max-width: 226px;
  min-height: 30px;
  line-height: 30px;
  border-radius: 30px 31px 57px 30px;
  padding: 0px 22px;
  background-color: #fff;
  color: #77757c;
}
.create-share .dialogue-area .dialogue-cont .msg .profile,
.join-share .dialogue-area .dialogue-cont .msg .profile {
  width: 38px;
  height: 38px;
  background-color: #d3d3d3;
  border-radius: 8px;
  margin: 0 9px 0 5px;
}
.create-share .dialogue-area .dialogue-cont .other-one .msg-box,
.join-share .dialogue-area .dialogue-cont .other-one .msg-box {
  justify-content: start;
}
.create-share .dialogue-area .dialogue-cont .other-one .cont,
.join-share .dialogue-area .dialogue-cont .other-one .cont {
  background-color: #8e6cd9;
  color: #fff;
  border-radius: 43px 100px 100px 107px;
}
.create-share .dialogue-area .create-cont,
.join-share .dialogue-area .create-cont {
  margin-top: 0;
}
.create-share .self .profile,
.join-share .self .profile {
  background-image: url(../images/avatar.jpg);
  background-size: contain;
}
.create-share .other-one .profile,
.join-share .other-one .profile {
  background-image: url(../images/avatar4.jpg);
  background-size: contain;
}
.create-share .create-dialogue,
.join-share .create-dialogue {
  height: 543px;
}
.create-share .emoji-tools,
.join-share .emoji-tools {
  display: none;
  position: absolute;
  bottom: 52px;
  left: 0;
  justify-content: space-around;
  width: 100%;
  height: 44px;
  border: 2px dashed rgba(0, 0, 0, 0.25);
  margin-top: 5px;
  padding-top: 5px;
  background-color: #fff;
  box-shadow: -1px 2px 0 0 rgba(0, 0, 0, 0.25);
}
.create-share .emoji-tools .tool-icon,
.join-share .emoji-tools .tool-icon {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
}
.create-share .emoji-tools .tool-icon:nth-child(1),
.join-share .emoji-tools .tool-icon:nth-child(1) {
  background-image: url(../images/like.png);
}
.create-share .emoji-tools .tool-icon:nth-child(2),
.join-share .emoji-tools .tool-icon:nth-child(2) {
  background-image: url(../images/laugh.png);
}
.create-share .emoji-tools .tool-icon:nth-child(3),
.join-share .emoji-tools .tool-icon:nth-child(3) {
  background-image: url(../images/Bear.png);
}
.create-share .emoji-tools .tool-icon:nth-child(4),
.join-share .emoji-tools .tool-icon:nth-child(4) {
  background-image: url(../images/game.png);
}
.create-share .emoji-tools .tool-icon:nth-child(5),
.join-share .emoji-tools .tool-icon:nth-child(5) {
  background-image: url(../images/fright.png);
}
.create-share .emoji-tools .tool-icon:nth-child(6),
.join-share .emoji-tools .tool-icon:nth-child(6) {
  background-image: url(../images/devil.png);
}
.create-share .emoji-tools .tool-icon:nth-child(7),
.join-share .emoji-tools .tool-icon:nth-child(7) {
  background-image: url(../images/speechless.png);
}
.create-share .show4,
.join-share .show4 {
  display: flex;
}
.create-share .dialogue-input,
.join-share .dialogue-input {
  outline: none;
  height: 30px;
  border-radius: 12px;
  border: none;
  padding: 0 18px;
}
.create-share .send,
.join-share .send {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: #8e6cd9;
  border: none;
  background-image: url(../images/send.png);
  background-size: 61%;
  background-position: center;
  background-repeat: no-repeat;
}
.create-share .speak,
.join-share .speak {
  width: 40px;
  height: 40px;
  background-color: #fff;
  vertical-align: middle;
  border: none;
  background-size: 70%;
  background-position: 50% 50%;
  background-image: url(../images/close-phone.png);
  background-repeat: no-repeat;
}
.create-share .close-speak,
.join-share .close-speak {
  background-image: url(../images/open-phone.png);
}
/* 设置好友视角画板属性 */
.join-share .drawing-board {
  background-color: #e9deff;
}
.join-share canvas {
  position: absolute;
  top: 125px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}
.mian-word {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 109px;
  padding: 10px;
}
.mian-word .key-word,
.mian-word .more {
  position: relative;
  width: 31%;
  height: 45%;
  font-size: 18px;
  color: #937be8;
  background-color: #ddd3f5;
  line-height: 22px;
  border-radius: 8px;
  text-align: center;
  margin-right: 5px;
  line-height: 40px;
}
.mian-word .del {
  position: absolute;
  right: 6px;
  top: 12px;
  width: 14px;
  height: 14px;
  line-height: 14px;
  border-radius: 50px;
}
.mian-word .more {
  background-image: url(../images/add.png);
  background-repeat: no-repeat;
  background-size: 16%;
  background-position: 50% 50%;
}
.mian-word .hide {
  display: none;
}
.dialogue-box {
  width: 100%;
  height: 384px;
}
.bgc {
  height: 91.4%;
  background-image: linear-gradient(to top, #e5d9fc, #fff);
}
.send-box {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 100%;
  height: 52px;
  background-color: #fff;
  vertical-align: middle;
  padding-top: 5px;
}
.send-box .dialogue-input {
  width: 71%;
  height: 40px;
  border-radius: 38px;
  background-color: #f3f3f3;
}
.send-box .emoj {
  position: absolute;
  right: 18%;
  top: 24%;
  width: 25px;
  height: 24px;
  background-image: url(../images/express.png);
  background-repeat: no-repeat;
}
.show1 {
  display: block;
}
.show2 {
  display: flex;
}
/*好友视角，完成绘画后出现的盒子*/
/*答案揭晓盒子*/
.keyword-answer-wrap {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  height: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.keyword-answer-wrap .keyword-answer-box {
  position: relative;
  width: 397px;
  height: 432px;
  background-color: #eee6fd;
  border-radius: 24px;
  padding: 17px;
  box-shadow: 1px 4px 7px rgba(0, 0, 0, 0.25);
}
.keyword-answer-wrap .keyword-answer-box .close-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 15px;
  height: 15px;
  background-image: url(../images/close.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.keyword-answer-wrap .keyword-answer-box .tip-text {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 40px;
  color: #8e6cd9;
}
.keyword-answer-wrap .keyword-answer-box .character-keyword-box .tit,
.keyword-answer-wrap .keyword-answer-box .job-keyword-box .tit {
  font-weight: 600;
  font-size: 20px;
  line-height: 38px;
  color: #8e6cd9;
}
.keyword-answer-wrap .keyword-answer-box .character-keyword,
.keyword-answer-wrap .keyword-answer-box .job-keyword {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 364px;
  height: 106px;
  border-radius: 20px;
}
.keyword-answer-wrap .keyword-answer-box .character-keyword canvas,
.keyword-answer-wrap .keyword-answer-box .job-keyword canvas {
  position: absolute;
  z-index: 2;
  border-radius: 20px;
}
.keyword-answer-wrap .keyword-answer-box .key-word {
  position: relative;
  width: 104px;
  height: 40px;
  font-size: 18px;
  color: #fff;
  background-color: #91d4ce;
  line-height: 22px;
  border-radius: 8px;
  text-align: center;
  margin-right: 5px;
  line-height: 40px;
}
.keyword-answer-wrap .keyword-answer-box .show-all {
  width: 125px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #8e6cd9;
  border-radius: 8px;
  color: #fff;
  margin: auto;
  margin-top: 20px;
  box-shadow: 1px 4px 7px #a69bbf;
}
.keyword-answer-wrap .next-step {
  display: flex;
  justify-content: space-between;
}
.keyword-answer-wrap .next-step .next-sel {
  width: 108px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #8e6cd9;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  border-radius: 8px;
  margin-top: 16px;
  box-shadow: 1px 4px 7px #a69bbf;
}
.keyword-answer-wrap .show-all:hover,
.keyword-answer-wrap .next-sel:hover {
  transition: all 0.1s;
  background-color: rgba(142, 108, 217, 0.95);
  box-shadow: 1px 2px 7px #a69bbf;
  transform: translateY(2px);
}
.show6 {
  display: flex;
}
.create-share .drawing-board .create-share .pre,
.create-share .drawing-board .next {
  background-color: transparent;
}
.create-share .canvas {
  position: absolute;
  top: 125px;
  left: 50%;
  transform: translateX(-50%) scale(1.1);
}
.create-share .drawing-board .tool-box {
  display: none;
}
