* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*返回按钮*/
.preBtn {
  position: fixed;
  left: 27px;
  top: 27px;
  width: 40px;
  height: 40px;
  background-image: url(../images/pre-btn\ \(1\).png);
  border-radius: 50px;
  background-size: 70%;
  background-position: center;
  background-color: #eddfff;
  transition: all 0.2s;
}
.preBtn:hover {
  background-color: #ddc8f8;
}
.test2-report {
  background-image: url(../images/test-bgi.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100Vh;
}
.test2-report .report-wrap {
  position: relative;
  width: 520px;
  height: 550px;
  margin: auto;
  padding-top: 55px;
}
.desc {
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}
.value-box {
  margin: auto;
  width: 259px;
  height: 82px;
  text-align: center;
  line-height: 90px;
  font-size: 48px;
  line-height: 60px;
  color: #fff;
}
.detail-desc {
  position: absolute;
  top: 215px;
  width: 337px;
  height: 326px;
  font-size: 20px;
  border-radius: 36px;
  padding: 84px 30.5px 0;
  transform-origin: right top;
  transition: all 0.35s linear;
}
.detail-desc .tit {
  position: absolute;
  top: 32px;
  left: 0;
  width: 121px;
  height: 32px;
  line-height: 32px;
  background-color: #b591eb;
  font-size: 20px;
  color: #fff;
  text-align: center;
}
.detail-desc .descb {
  font-size: 18px;
  line-height: 22px;
  width: 100%;
  color: #949494;
  height: 220px;
  overflow: hidden;
}
.detail-desc:nth-child(3) {
  left: -316px;
  background-image: linear-gradient(to top left, #e4c7fc, #bfd9ff);
}
.detail-desc:nth-child(4) {
  left: -45px;
  background-image: linear-gradient(to top left, #c3f8f3, #ffffc1);
}
.detail-desc:nth-child(5) {
  left: 226px;
  background-image: linear-gradient(to top left, #fff9c7, #ffe1c4);
}
.detail-desc:nth-child(6) {
  left: 497px;
  background-image: linear-gradient(to top left, #c4e9ff, #f7d7fc);
}
.detail-desc:hover {
  transform: translateX(-20px) rotate(6deg);
  transition: all 0.35s linear;
}
